/* .text{
  color: blue;
}
section{
  width: 80%;
  border: 1px solid black;
  margin: auto;
  padding: 1rem;
}
.light{
  background: lightblue;
}
.dark{
  background: #222;
}
.cardWrap{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
  margin: auto;
}
.card{
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
  width: 150px;
} */
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Hi Melody",
    sans-serif;
}

body {
  background: ghostwhite;
}

.wrap {}

.container {
  width: 80%;
  margin: 40px auto;
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: #0f172a;
  margin-bottom: 5px;
  letter-spacing: -1px;
}

.sub-title {
  font-size: 15px;
  color: #b1b1b1;
}

.form-panel {
  border: 1px solid rgb(186, 186, 186);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  transition: .35s;
  background: white;
}

.form-title {
  font-weight: 800;
  margin-bottom: 10px;
  padding-right: 10px;
}

.form-row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.input {
  padding: 5px 15px;
  border: 1px solid rgb(131, 133, 134);
  width: 150px;
  transition: 0.15s;
  border-radius: 8px;
  font-size: 14px;
}

.input:focus {
  border: 1px solid rgb(29, 29, 55);
  outline: none;
}

.btn {
  padding: 3px 15px;
  border-radius: 3px;
  outline: none;
  background: rgb(29, 29, 55);
  color: #fff;
  cursor: pointer;
}

.sort-row {
  margin: 15px 0;
  display: flex;
  gap: 8px;
}

.sort-btn {
  padding: 3px 15px;
  border-radius: 3px;
  outline: none;
  background: rgb(29, 29, 55);
  color: #fff;
  cursor: pointer;
}